<!doctype html>
<html lang="fa-IR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    {{#if assets.client.css}}
      <link href="{{assets.client.css}}" rel="stylesheet">
    {{/if}}
    {{#if isProd}}
      <script src="{{assets.client.js}}" defer></script>
    {{else}}
      <script src="{{assets.client.js}}" defer crossorigin></script>
    {{/if}}

    {{{title}}}
    {{{meta}}}
    {{{link}}}
    {{{script}}}
  </head>

  <body dir="rtl">
    <div id="app">{{{appHtml}}}</div>
    <script>
      window.{{{PRELOADED_DATA_KEY}}} = '{{{preloadedData}}}';
      window.{{{PRELOADED_STATE_KEY}}} = '{{{preloadedState}}}';
      window.env = {{{env}}};
    </script>
  </body>
</html>
